:root {
  /* --------- Color palette --------- */
  --color-black: rgb(25, 25, 25);
  --color-white: #fff;
  --color-gray-1: rgb(90, 90, 90);
  --color-gray-2: rgb(240, 240, 240);
  --color-accent: rgb(90, 90, 255);

  /* --------- Typography --------- */
  --font-size-text-small: 2rem;
  --font-size-text-medium: 2.4rem;
  --font-size-text-large: 3rem;
  --font-size-heading-large: 7rem;
  --font-size-heading-medium: 4rem;
  --font-size-heading-small: 3rem;
}
::selection {
  background: var(--color-black);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  :root {
    /* --------- Typography --------- */
    --font-size-text-small: 1.5rem;
    --font-size-text-medium: 1.8rem;
    --font-size-text-large: 2.4rem;
    --font-size-heading-large: 8rem;
    /* --font-size-heading-medium:; */
    --font-size-heading-small: 2.4rem;
  }
}

html {
  font-size: 62.5%; /* 1rem = 16px X 62.5% = 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  font-size: var(--font-size-text-medium);
  background: var(--color-gray-2);
  padding-inline: 10rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 1024px) {

  body {
    padding-inline: 6rem;
  }
}

@media screen and (max-width: 675px) {

  body {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 550px) {

  body {
    padding-top: 7rem;
    padding-inline: 1rem;
  }
}

/* --------- Lists --------- */
a {
  text-decoration: none;
}

/* --------- Lists --------- */
.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list--flex .list__item {
  display: inline-flex;
  margin-left: 1rem;
}

/* --------- Buttons --------- */
.btn {
  margin: 0.5rem;
  margin-left: 2rem;
  padding: 1.5rem 3rem;
  flex-grow: 1;
  border-radius: 0.75rem;
  border: none;
  background: var(--color-white);
  color: var(--color-black);
  outline: none;
  border: 2px solid var(--color-white);
  cursor: pointer;
}

.btn:hover {
  background: var(--color-black);
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

@media screen and (max-width: 1024px) {

  .btn {
    margin: 1rem;
    flex-grow: 1;
    border-radius: 0.75rem;
  }
  
}

/* --------- Layouts --------- */
.grid {
  display: grid;
}
.container {
  margin-top: 2rem;
  padding: 2rem 2rem 0 2rem;
  width: auto;
  border-radius: 3rem;
  background: white;
  border: 1px solid var(--color-black);
}

/* --------- Navigation Bar --------- */
.nav {
  position: sticky;
  top: 0.5rem;
  width: -webkit-fill-available;
  border-radius: 3rem;
  background: var(--color-white);
  font-weight: 600;
  padding: 0.25rem;
  border: 1px solid black;
  box-shadow: 3px 7px var(--color-black);
  transition: box-shadow 0.2s;
  z-index: 1;
}

.nav:hover {
  box-shadow: 1px 1px var(--color-black);
}

.nav a {
  color: var(--color-black);
}

.list__item:hover a {
  color: var(--color-white);
}

.nav .grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .list__item, .footer__nav .list__item {
  padding: 1.3rem 1.5rem;
  border-radius: 4px;
  transition: background 0.4s;
  width: 9rem;
  text-align: center;
  /* border: 1px solid var(--color-white); */
}

.nav .list__item:hover, .footer__nav .list__item:hover {
  font-weight: 600;
  background: var(--color-accent);
  color: var(--color-white);
  /* border: 1px solid var(--color-black); */
}

.footer__nav {
  border-top: 1px dotted var(--color-white);
}

.nav .list__item:nth-of-type(1) {
  border-radius: 2rem 4px 4px 2rem;
  margin-left: 0;
  margin-right: auto;
  padding: 0.1rem 5rem 0px 2rem;
  padding-left: 3rem;
  width: auto;
}

.nav .list__item:nth-of-type(2) {
  display: none;
}

.nav .list__item:nth-of-type(3) {
  text-align: center;
  padding: 1.3rem 0;
}

.nav .list__item:nth-of-type(6) {
  border-radius: 4px 2rem 2rem 4px;
  margin-right: 0;
  padding: 1.3rem 2.5rem 1.3rem 1.5rem;
  margin-left: auto;
  width: auto;
}

.nav svg {
  width: 21px;
  fill: #000;
}

.nav .icon, .footer__nav .icon {
  fill: #fff;
  height: 40px;
  width: 45px;
  align-items: center;
  line-height: 0.25rem;
}

@media screen and (max-width: 1024px) {

  .nav .list__item {
    width: auto;
  }

  .nav .list__item:nth-of-type(1) {
    padding: 0.35rem 4rem 0.35rem 1.5rem;
  }

  .nav .list__item:nth-of-type(3) {
    padding-inline: 1.5rem;
  }

  .nav .list__item:nth-of-type(6) {
    padding: 1.3rem 1.5rem 1.3rem 0.5rem;
  }
}

@media screen and (max-width: 780px) {

  .nav .grid {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav .list__item {
    margin-inline: 0;
  }

  .hide .list__item:not(:nth-child(1)) {
    display: none;
  }

  .nav .list__item:nth-of-type(1) {
    border-radius: 3rem 4px 4px 3px;
    width: 30%;
    padding-inline: 1rem 18%;
    margin-bottom: 0.11rem;
  }
  
  /* padding changes when the menu is closed  */
  .hide .list__item:nth-of-type(1) {
    border-radius: 3rem 4px 4px 3rem;
  }

  .nav .list__item:nth-of-type(2) {
    color: var(--color-black);
    display: block;
    width: fit-content;
    border-radius: 4px 3rem 3px 4px;
    padding-inline: 18% 1rem;
    font-weight: 600;
    width: 30%;
    margin-bottom: 0.11rem;
  }
  
  .nav .list__item:nth-of-type(2):hover {
    color: var(--color-white);
  }

  /* padding changes when the menu is closed  */
  .hide .list__item:nth-of-type(2) {
    border-radius: 4px 3rem 3rem 4px;
  }

  .nav .list__item:nth-of-type(3) {
    border-radius: 4px 4px 4px 3rem;
    flex-grow: 1;
  }

  .nav .list__item:nth-of-type(6) {
    border-radius: 4px 4px 3rem 4px;
    margin-right: 0;
    margin-left: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width: 675px) {

  .nav {
    display: none;
  }

  body {
    padding-top: 0;
    padding-bottom: 7rem;
  }

  /* .nav .list__item {
    width: 100%;
  }

  .nav {
    margin-inline: 0 1rem;
  }

  .nav .list__item:nth-last-child(-n + 4).list__item:not(:last-child) {
    border-bottom: 1px solid rgb(191, 191, 191);
  }

  .nav .list__item:nth-of-type(3) {
    border-radius: 4px 4px 4px 4px;
  }

  .nav .list__item:nth-of-type(6) {
    border-radius: 4px 4px 3rem 3rem;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  } */

}

/* --------- Blogs Section --------- */
.blogs-section .grid {
  grid-gap: 1rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-inline: 20rem;
}

.pagination:last-child {
  display: none;
}

.pagination a {
  background: var(--color-gray-2);
  color: var(--color-gray-1);
  border-radius: 2rem;
  padding-inline: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 3rem 4rem;
}

.card {
  padding: 1px;
  position: relative;
  overflow: hidden;
  margin-inline: 2rem;
  margin-top: 1rem;
  height: 35rem;
  width: 35rem;
  border: 2px solid var(--color-black);
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 5px 7px var(--color-black);
}

.card:hover {
  box-shadow: 1px 1px var(--color-black);
}

.card:nth-child(2) {
  order: -1;
}

.card__header {
  display: flex;
  position: absolute;
  bottom: 3px;
  right: 3.5px;
  width: 98.05%;
  margin-inline: auto;
  border-radius: 0 0 8px 8px;
  background: var(--color-gray-1);
  color: var(--color-white);
  transition: all 0.2s;
  align-items: center;
}

.card:hover .card__header {
  background: var(--color-accent);
}

.card__header p {
  padding-left: 1rem;
  margin-block-start: 0.75rem;
  margin-block-end: 0.75rem;
  margin-right: auto;
}

.card__header a {
  text-align: center;
}

.label {
  font-weight: 600;
}

.card__body {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  width: auto;
  height: -webkit-fill-available;
}

.card__body img {
  width: 100%;
  height: 81.5%;
  border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 1350px) {

  .card {
    height: 34.25vh;
  }
  
  .card__body {
    height: unset;
  }

  .card__header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: unset;
  }

}

@media screen and (max-width: 1024px) {

  h1 {
    margin: 0;
  }
  
  .cards {
    display: block;
  }

  .card {
    margin-inline: auto;
    height: 53.5vh;
    margin: 3rem auto;
  }
  
  .card:last-child {
    margin-bottom: 1rem;
  }

  .container {
    height: auto;
    padding: 2rem;
  }

  .pagination:last-child {
    display: flex;
  }

}


@media screen and (max-width: 450px) {

  .cards {
    margin: 0;
  }

  .card {
    height: 52.5vh;
    width: 80vw;
  }
  
}

/* --------- Footer --------- */
.footer {
  margin-top: auto;
  background: var(--color-gray-1);
  border-radius: 2rem 2rem 4px 4px;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  overflow: hidden;
  padding: 0.25rem;
  width: -webkit-fill-available;  
}

.footer:hover {
  background: var(--color-accent);
}

.footer:hover .list__item {
  border: 1px solid var(--color-accent);
}

  /* Footer Social Icons */
.footer__social-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  width: 100%;
}

.footer__social-icons .bx {
  color: var(--color-white);
  position: relative;
  bottom: -2px;
  padding-top: 2px;
}

.footer__social-icons .list__item {
  padding-inline: 1rem;
  margin-inline: 1rem;
  border: 1px solid var(--color-gray-1);
  border-radius: 4px;
}

.footer .list__item:hover {
  border: 1px solid var(--color-white);
  background: var(--color-black);
}

  /* Footer Nav */
.footer__nav {
  order: 2;
  display: flex;
  justify-content: space-evenly;
}

.footer__nav .grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav .list__item {
  padding: 1.8rem 1rem;
  border: 1px solid var(--color-gray-1);
}

.footer__nav a {
  color: var(--color-white);
}

.footer__nav .list__item:first-child {
  padding: 0.5rem 1rem;
}

.footer__nav .list__item:nth-of-type(2) {
  display: none;
}

@media screen and (max-width: 1260px) {
  .footer {
    position: relative;
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {

  .footer .list__item {
    width: 100%;
  }

  .hide-footer .list__item {
    display: none;
  }

  .footer__social-icons .list__item:first-child {
    border-radius: 2rem 4px 4px 4px;
  }

  .footer__social-icons .list__item:last-child {
    border-radius: 4px 2rem 4px 4px;
  }

  .footer__nav .grid {
    flex-direction: column;
  }
  
  .footer__nav {
    display: block;
    border-bottom: none;
    border-top: 1px dotted var(--color-white);
  }

  .hide-footer .footer__nav {
    border-top: none;
    border-bottom: 1px dotted var(--color-white);
  }

  .footer__nav .list__item {
    padding-inline: 0;
    border: 1px solid var(--color-gray-1);
    margin-inline: auto;
  }

  .footer__nav .list__item:first-child {
    padding-inline: 0;
  }

  .footer__nav .list__item:first-child:hover {
    border: 1px solid var(--color-white);
  }

  .hide-footer .footer__nav .list__item:nth-of-type(2) {
    display: block;
    order: -1;
    border-radius: 2rem 2rem 4px 4px;
    color: var(--color-white);
    padding: 1rem 0;
    cursor: pointer;
  }

  .footer__nav .list__item:nth-of-type(2) {
    border-radius: 4px;
  }
  
}

@media screen and (max-width: 675px) {
  
  /* Footer */
  .footer {
    position: fixed;
    bottom: 0;
  }

  .footer__nav {
    display: block;
    border-top: none;
  }

   
  /* Footer Social Icons */
  .footer__social-icons {
    order: 2;
    border-top: 1px dotted var(--color-white);
  }

  .footer__social-icons .list__item:first-child {
    border-radius: 4px;
  }

  .footer__social-icons .list__item:last-child {
    border-radius: 4px;
  }
  
  .footer__nav .list__item:first-child {
    border-radius: 2rem 2rem 4px 4px;
    padding-inline: 0;
  }
}

@media screen and (max-width: 675px) {

  .footer {
    margin-inline: 0 1rem;
  }
}

/* --------- Blogs page --------- */
.blog {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.page-title {
  position: relative;
  padding: 0.75rem;
  text-align: center;
  border-bottom: 2px solid var(--color-black);
  height: fit-content;
  transition: all 0.15s;
  border: 1px solid var(--color-black);
  box-shadow: 4px 7px var(--color-black);
  border-radius: 4px;
  margin-inline: 20rem;
}

.page-title:hover {
  box-shadow: 1px 1px var(--color-black);
}

.author-heading {
  color: var(--color-gray-1);
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1rem;
  text-decoration: underline;
}

.author-info {
  color: var(--color-gray-1);
  background: var(--color-gray-2);
  padding: 1rem 2rem;
}

.author-info i {
  font-size: 8rem;
  display: inline;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-accent);
  padding: 1rem;
  margin-right: 1rem;
}

.author-info ul {
  margin-top: 3rem;
}

.author-info ul {
  position: relative;
  top: -1rem;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.author-info span {
  color: var(--color-accent);
}

.author-info p {
  margin-top: 2rem;
  color: var(--color-accent);
}

@media screen and (max-width: 1491px) {
  .author-info p {
    margin-top: 0;
  }
    
}

h1 {
  margin: 0;
}

.page-title p {
  position: absolute;
  margin: 0;
  right: 1rem;
  bottom: 1rem;
}

.blog-section {
  border-radius: 2rem 0 0 2rem;
  padding: 1rem 2rem;
  background: var(--color-gray-2);
}

.image-container {
  display: block;
  margin-inline: auto;
  height: 35rem;
  width: fit-content;
  aspect-ratio: 2 / 1;
  border-radius: 6px;
  object-fit: cover;
}

figcaption {
  margin-top: 0.25rem;
  margin-inline: 17%;
  text-align: center;
  opacity: 0.5;
  position: relative;
  transition: all 0.2s;
}

figcaption:hover {
  opacity: 1;
}

.author {
  border-radius: 0 2rem 2rem 0;
  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: 1rem;
}

.social-sharing {
  background: var(--color-gray-2);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-sharing p {
  padding: 0;
  display: inline;
  margin-right: 1rem;
}

.social-sharing ul {
  display: inline;
  vertical-align: middle;
}

.social-sharing .list--flex li {
  margin-left: 0;
  margin-inline: 1rem;
  font-size: 3rem;
}

@media screen and (max-width: 1300px) {
  .page-title, .pagination {
    margin-inline: 0;
  }

  .image-container {
    height: 23rem;
  }

  .author-info p {
    margin-top: 1rem;
  }

  .social-sharing .list__item {
    margin-inline: 2rem;
  }
}

@media screen and (max-width: 980px) {
  .blog {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .page-title {
    margin-inline: 0;
  }

  h1, .page-title p {
    display: block;
  }

  .page-title p {
    position: unset;
  }
   
  .blog-section {
    border-radius: 2rem 2rem 0 0;
  }
  
  .author {
    border-radius: 0 0 2rem 2rem;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
  }
  
  .author-info {
    border-right: 1px solid var(--color-white);
  }

  .author-info p {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 870px) {
 
  .blog {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .author {
    grid-template-rows: 1fr;
  }

  .author-info p {
    margin-top: 0;
  }

}

@media screen and (max-width: 780px) {

  .image-container {
    height: 18rem;
  }

  .author {
    border-radius: 0 0 2rem 2rem;
    grid-template-rows: 3fr 0.85fr;
    grid-template-columns: 1fr;
  }

  .author-info p {
    margin-top: 2rem;
  }

}

@media screen and (max-width: 501px) {

  .image-container {
    height: 15rem;
  }

  .social-sharing {
    display: block;
  }

  .social-sharing p {
    display: block;
  }

  .social-sharing ul {
    display: block;
  }

  .social-sharing .list__item:first-child {
    margin-left: 0;
  }
}