@import url(/css/nav-n-footer.css);
@import url(/css/blogs-related.css);
@import url(/css/small-components.css);

:root {
  /* --------- Color palette --------- */
  --color-black: rgb(25, 25, 25);
  --color-white: #fff;
  --color-gray-1: rgb(90, 90, 90);
  --color-gray-2: rgb(240, 240, 240);
  --color-accent: rgb(90, 90, 255);

  /* --------- Typography --------- */
  --font-size-text-small: 2rem;
  --font-size-text-medium: 2.4rem;
  --font-size-text-large: 3rem;
  --font-size-heading-large: 7rem;
  --font-size-heading-medium: 4rem;
  --font-size-heading-small: 3rem;
}
::selection {
  background: var(--color-black);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  :root {
    /* --------- Typography --------- */
    --font-size-text-small: 1.5rem;
    --font-size-text-medium: 1.8rem;
    --font-size-text-large: 2.4rem;
    --font-size-heading-large: 8rem;
    /* --font-size-heading-medium:; */
    --font-size-heading-small: 2.4rem;
  }
}

html {
  font-size: 62.5%; /* 1rem = 16px X 62.5% = 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  font-size: var(--font-size-text-medium);
  background: var(--color-gray-2);
  padding-inline: 10rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin: 0;
}
h2 {
  color: var(--color-gray-1);
}

h3:first-of-type {
  margin-top: 1em;
}
h3 {
  margin-block: 2em 0.5em;
}

@media screen and (max-width: 1024px) {

  body {
    padding-inline: 6rem;
  }
}

@media screen and (max-width: 675px) {

  body {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 550px) {

  body {
    padding-inline: 1rem;
  }
}

/* --------- Layouts --------- */
.grid {
  display: grid;
}
.container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 0 2rem;
  width: auto;
  border-radius: 2rem;
  background: white;
  border: 1px solid var(--color-black);
}

@media screen and (max-width:1024px) {

  .container {
    margin-bottom: 0;
  }
}

@media screen and (max-width:675px) {
  .container {
    margin-top: 0;
  }
}
